a.btn-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  transition: color 0.3s ease;

  &:hover , &.active {
    color: $main-color2;
  }

  > i {
    &:before{
      line-height: 25px !important;
    }
  }


}