a.btn, input.btn, button.btn {
  color: #FFF;
  display: inline-block;
  font-weight: 600;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
  background: $main-color2;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  padding: 13px 20px;
  font-size: 18px;
  border: 1px solid #c71337;
  text-align: center;
  text-transform: uppercase;

  &:active, &.active {
    background: $main-color2;
  }

  &:hover, &.hover {
    border-color: #8f0e27;
    box-shadow: inset 0 -20px 48px 0 rgba(0, 0, 0, 0.1);
  }

  &.black {
    background: #000;
    border: transparent;

    &.active, &:active {
      background: #222;
    }
    &:hover, &.hover {
      border: transparent;
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.65;
    box-shadow: none;
    cursor: not-allowed;
  }
}